html {

font-family: labelFont;

/*
 background-size: 33%;
  
  */
  margin: 0px;
  padding: 0px;
   
   }

svg {
   float: left;
}

.data-instruction {
	margin: 20px;
	font-size: 50px;
	padding: 30px;
	border-radius: 30px;
	background-color: white;
}
.data-description {
	padding: 0px 30px 0px 10px;
	width: 671px;
	font-size: 32px;
	font-weight: 100;
	font-style: italic;
	display: inline-block;
}


.card-back {
	 background-image: url("img/generominos-01.png");
	font-family: titleFont;
	text-align: center;
	  background-size: 100% 100%;
    background-repeat: no-repeat;
	
}

.title {
	padding: 25px;
	width: 2450px;
	background-color: hsla(225, 40%, 80%, 1);
}

b {
	color: hsla(225, 90%, 40%, 1);;
}

.card-back-title {
	display: inline-block;
	padding: 0px 0px 0px 0px;
	font-size: 295px;
	color: black;
font-family: logoFont;
	
}


.card-back-subtitle {
	text-align: right;
	width: 1150px;
	font-size: 62px;
	padding: 6px;
	display: inline-block;


}

#license {
	font-size: 30px;
}

#signature {
	color: hsla(320, 50%, 50%, 1);
	font-style: italic;
	text-align: right;
}


@font-face {
	font-family: logoFont;
	src: url('fonts/BiteChalk.ttf');
	src: url('fonts/Chewy.ttf');
		src: url('fonts/Labours.ttf');
		src: url('fonts/Pompiere-Regular.ttf');
}


@font-face {
	font-family: titleFont;
	src: url('fonts/F25_Executive.otf');
}


@font-face {
	font-family: labelFont;
	src: url('fonts/RobotoCondensed-Regular.ttf');
}



.type {
	display: inline-block;
		font-family: 'Roboto', sans-serif;

	display: inline-flex;
	flex-direction: row;
	padding: 2px;

	
}
.card-transformation {
	background-color: hsla(35, 0%, 100%, 1);
}

.card-mod {

	background-color: hsla(35, 0%, 100%, 1);
}

.card-input {

	background-color: hsla(235, 0%, 100%, 1);
}

.card-input .input-row{
	border-radius: 10px 10px 0px 0px;
	min-height: 110px;
	background-color: hsla(235, 50%, 70%, 1);
}



.card-inputmod .input-row{
	border-radius: 10px 10px 0px 0px;
	min-height: 110px;
	background-color: hsla(235, 50%, 70%, 1);
}

.card-output .output-row{
	border-radius: 0px 0px 10px 10px ;
	min-height: 110px;
	background-color: hsla(5, 50%, 70%, 1);
}

.card-outputmod .output-row{
	border-radius: 0px 0px 10px 10px ;
	min-height: 110px;
	background-color: hsla(5, 50%, 70%, 1);
}


.card-output {
	background-color: hsla(325, 40%, 100%, 1);
}




.item .item-label {

font-weight: bold;
		top: 10px;
	font-size: 40px;
	width: 180px;
	padding: 40px 10px 12px 12px;
	display: block;
}

.item {
	
	font-family: labelFont;
	display: inline-flex;
	flex-direction: row;
	
	width: 829px;
}

.item.item-sensor {
	
	
	width: 315px;
}





.item-description {
	flex: 1;
	font-style: italic;
	display: inline-block;
	font-size: 36px;
	padding: 10px;
	height: 170px;
}


.item-label {
	padding: 0px 9px 9px 9px;
	display: inline-block;
}

.card {
	box-shadow: inset 0px 0px 0px 10px white;
	margin: 0px 0px;
	font-family: labelFont;
	 vertical-align: top;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
    page-break-inside: avoid;
   
    text-align: center;

 box-sizing: border-box;
    width: 823px;
    height: 597px;
    padding: 32px;
   


}
canvas {
    width: 825px;
    height: 600px;
}

#card-holder {

	
}
.card-background {

}

.socket-col {
	position: relative;
}
.socket-col-side {

flex: .01;
}

.socket-col-main {

flex: 1;
display: flex;
flex-direction: row;
}

.socket-row {
	padding: 10px 18px;
	position: relative;

	display: inline-flex;
}

.socket {
	text-align: center;
	 display: flex;
	 flex-direction: column;
	position: relative;
	flex: 1;
	
}

.socket-label {
	margin: 8px;
	flex: 1;
	
		line-height: 90%;
	font-size: 32px;
}


.tile {
	display: block;
	vertical-align: bottom;
	margin: 0px auto;
border-radius: 30px;
		width: 110px;
	height: 110px;
	 background-size: 100% 100%;
    background-repeat: no-repeat;
}



.main {
display: flex;
	flex: 1;

}

.content-col {
	display: flex;
	flex-direction: column;
flex: 1;
display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */

}

.mod-col {
	flex: .02;
}



.card-content {
	min-height: 40px;
	min-width: 100px;
}




.card-details {
	font-size: 54px;
	line-height: 100%;
	font-style: italic;
}


.card-name {
	padding: 2px 15px;
	font-size: 80px;
	 line-height: 90%;
	font-family: titleFont;
}



.scenario {
	text-align: center;

}
.scenario-title {
	padding: 10px;
	font-size: 52px;
	font-family: titleFont;
}
.scenario-details {
	font-size: 40px;
	padding: 10px;
}

.scenario-constraint {
	padding: 5px;

}